In [1]:
print('hi')

hi

### Python Basics

In [1]:
1+1

2

In [3]:
total = 1+2+\
3+5+9
print(total)

20

In [4]:
x=1; y=5; print(x+y)

6

In [8]:
age = input("hey")
print(age)

78

In [11]:
## check leap year

y = int(input("enter a year "))

if y%400==0 or y%4==0 and y%100!=0:
    print(y, "is leap year")
else:
    print(y, "is not a leap year")

2021 is not a leap year

In [12]:
##calculator app

num1 = float(input("enter 1st number: "))
num2 = float(input("enter 2nd number: "))

operator = str(input("choose operation: + - * / "))

if operator == '+':
    print(num1 , "+" ,num2 ,'=', num1+num2)
elif operator == '-':
    print(num1 , "-" ,num2 ,'=', num1-num2)
elif operator == '*':
    print(num1 , "*" ,num2 ,'=', num1*num2)
elif operator == '/':
    print(num1 , "/" ,num2 ,'=', num1/num2)
else:
    print('invalid input !!')

25.0 / 5.0 = 5.0

In [13]:

##Loops 

x= range(5)
x

range(0, 5)

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(1,5):
    print(i)

1
2
3
4

In [16]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [17]:
for i in range(10, 1 , -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [18]:
str="aakash t"
for i in str:
    print(i)

a
a
k
a
s
h

t

In [2]:
for i in range(5):
    if i==3:
        print("number is",i)
        pass
    print(i)

0
1
2
number is 3
3
4

In [10]:
 ## sum of first n natural no by for and while 
##prime no between 1 and 100

n=100
i=0
sum=0

while i<=n:
    sum+=i
    i+=1

print(sum)    

sum2=0

for i in range(n+1):
    sum2+=i

print(sum2)

5050
5050

In [ ]:
##prime no between 1 and 100

def isprime(num):
    for i in range(2, int(n**0.5)+1):
        if num%i==0:
            return False

    return True 

n=101

for i in range(1,n):
    if isprime(i):
        print(i)

1
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Lists

In [29]:
#Lists

list =[]
print(type(list))

<class 'list'>

In [44]:
name = ['aakash', '', True , 3.15]
print(name)

['aakash', '', True, 3.15]

In [45]:
print(name[1:3])

['', True]

In [46]:
print(name[-3:-1])

['', True]

In [49]:
name[2] ='jake'
del name[2]

print(name)

['aakash', '', 'a', 'k', 'e', 3.15]

In [50]:
#List methods 


name.append("james")
print(name)

['aakash', '', 'a', 'k', 'e', 3.15, 'james']

In [51]:
name.insert(0, 'tom') #shifts the list 
print(name)

['tom', 'aakash', '', 'a', 'k', 'e', 3.15, 'james']

In [52]:
#.renove removes first occurance 

name.remove('aakash')
print(name)

['tom', '', 'a', 'k', 'e', 3.15, 'james']

In [54]:
##pop removes last ele
print(name.pop())
print(name)

3.15
['tom', '', 'a', 'k', 'e']

In [55]:
print(name.count('tom'))

1

In [56]:
name.sort()
name

['', 'a', 'e', 'k', 'tom']

In [57]:
name.reverse()
name

['tom', 'k', 'e', 'a', '']

In [60]:
#slicing list

number =[1,2,3,4,5,6,7,8,9,10]
print(number[:])
print(number[:5])
print(number[5:])
print(number[::-1])
print(number[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7, 10]

In [61]:
##iteration 

for x in number:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [62]:
#iterating with index , ele
for index,num in enumerate(number):
    print(index, num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [65]:
### List comprehension

### syntax : [exp for item in iterable if condn]

[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

In [70]:
list =[1,2,3,4,5,6,]
list2=[10,20,30,40,50,60,]

print([i*j for i in list for j in list2 if i==2])
pair =[(i,j) for i in list for j in list2]
print(pair)

[20, 40, 60, 80, 100, 120]
[(1, 10), (1, 20), (1, 30), (1, 40), (1, 50), (1, 60), (2, 10), (2, 20), (2, 30), (2, 40), (2, 50), (2, 60), (3, 10), (3, 20), (3, 30), (3, 40), (3, 50), (3, 60), (4, 10), (4, 20), (4, 30), (4, 40), (4, 50), (4, 60), (5, 10), (5, 20), (5, 30), (5, 40), (5, 50), (5, 60), (6, 10), (6, 20), (6, 30), (6, 40), (6, 50), (6, 60)]

In [71]:
sent = "this is aakash tembhare"
list = sent.split(' ')
length= [len(word) for word in list]
print(length)

[4, 2, 6, 8]