#### Functions

In [1]:
def function_name(parameter):
    #comments
    #<body>
    return exp

In [3]:
def printnum(*args):
    for i in args:
        print(i)


printnum(1,2,3,5,"aakash")

1
2
3
5
aakash

In [7]:
##keyword warguments

def printkv(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
    
printkv(name="aakash", age=5)

name:aakash
age:5

In [8]:
#combination

def printkv(*args, **kwargs):

    for key in args:
        print(key)

    for key,value in kwargs.items():
        print(f"{key}:{value}")
    
printkv(1,2,3,name="aakash", age=5)

1
2
3
name:aakash
age:5

In [10]:
#return 
def mul(a, b):
    return a*b,a

print(mul(1,2))

(2, 1)

#### Examples

In [16]:
#Tempearture converter


def convert(temp , unit):
    if unit== 'C':
        newtemp = temp *9/5 +32
        print(f"in Fahrenheit:{newtemp}")   #C->F

    elif unit =="F":
        newtemp = (temp-32)*5/9
        print(f"in Celcius:{newtemp}")
        
    else:
        print("error")

convert(37 , "C")

in Fahrenheit:98.6

In [17]:
#Password checker
def check(p):
    if len(p)<8:
        return False
    if not any(char.isdigit() for char in p):
        return False
    if not any(char.islower() for char in p):
        return False
    if not any(char.isupper() for char in p):
        return False
    if not any(char in '!@#$%^&*()' for char in p):
        return False
    return True

check("Aakash@7852")

True

In [20]:
#check palindrom

def check_palindrom(s):
    s= s.lower().replace(" ","")
    return s[::-1]==s

print(check_palindrom("aapaa"))

True

In [22]:

#factorial

def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
    
fact(5)

120

### Lambda Functions

In [47]:
add = lambda a,b,c :a+b+c

print(add(1,2,3))

6

In [51]:
#map - applies given function to all the items i inout list

numbers=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
def square(x):
    return x*x

numbers= [1,2,3,4]
l=list(map(square,numbers))
print(l)

[1, 4, 9, 16]

In [52]:
# multiple iterables

a=[2,2,2,2]
b=[1,1,1,1]

c= list(map(lambda x,y : x+y , a,b))
print(c)

[3, 3, 3, 3]

In [55]:
#convert all string to int
str =['1','2','3','4','5','6','7','8','9']
x = list(map(int , str))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
#convert to all upper case

Listt = ['aakash', 'james']

x = list(map(str.upper,Listt))

print(x)

['AAKASH', 'JAMES']

In [67]:
# filter

def even(n):
    if n%2 == 0:
        return True


let = [1,2,3,4,5,6,7,8,9]

x=list(filter(even , let))
print(x)

[2, 4, 6, 8]

In [70]:
x =list(filter(lambda x:x>5 and x<8 , let))
print(x)

[6, 7]

In [72]:
person=[

    {'name': "aakash", 'age':65},
    {'name': 'james' , 'age':75}
]

def age_greater(person):
    return person['age']>66

list(filter(age_greater, person))

[{'name': 'james', 'age': 75}]