### Tuples

 ##### (tuples are ordered collections of items that are immutable, allow duplicates)

In [3]:
##create tuple

empty_tuple =()
print(type(empty_tuple))

<class 'tuple'>

In [4]:
##via constructor

newt= tuple()
print(type(newt))

<class 'tuple'>

In [7]:
school =("kv", 'dav',)
print(type(school))

<class 'tuple'>

In [12]:
tuple_from_list =tuple([1,2,3,4,5])
print(list(tuple_from_list))

[1, 2, 3, 4, 5]

In [14]:
## accessing is same as list

## operators 

##concat

numbers=(1,2,3)
mix= ("aakash", 1, 2, True)
print(numbers+mix)

(1, 2, 3, 'aakash', 1, 2, True)

In [17]:
numbers*3  ## appended 3 times

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
##immuatcbility

numbers[2]="aakash"

TypeError: 'tuple' object does not support item assignment

In [21]:
## Tuple methods 

numbers.count(2)

1

In [22]:
## packing and unpacking
pack_tuple = 1,2,"hi", True
one , two, three , four = pack_tuple

print(pack_tuple)
print(one, two, three, four)

(1, 2, 'hi', True)
1 2 hi True

In [24]:
## with *

first , *middle , last = pack_tuple
print(first , middle , last )

print(type(middle))

1 [2, 'hi'] True
<class 'list'>

In [25]:
##nested tuple
nt =((1,2,3), (5,6,10))
nt[1][:3]

(5, 6, 10)

In [27]:
#iteration over it : just like 2d aaray

for each_tuple in nt:
    for ele in each_tuple:
        print(ele)

1
2
3
5
6
10